.error-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #FF6060;
}
.error-container > h1 {
    margin: 0;
    font-size: 18em;
}

.error-container > p {
    margin-bottom: 8em;
    font-size: 2rem;
}

.error-container > a {
    margin-bottom: 5em;
    text-decoration: underline;
}

@media screen and (max-width: 769px)
{
    .error-container {
        margin: 1rem;
        font-size: 9em;
    }

    .error-container > h1 {
        font-size: 9rem;
    }

    .error-container > p {
        margin-bottom: 7em;
        font-size: 1rem;
    }

    .error-container > a {
        margin-bottom: 4em;
        font-size: 0.7rem;
    }

}