@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 0 4rem;
}

.grid-center {
    width: 100%;
    display: grid;
    grid-template-areas: "a";
    place-items: center;
    margin-bottom: 2rem;
}

.element-filter::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to top, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
    opacity: .4;
    border-radius: 25px;
    bottom: 5px;
}

.element-filter {
    width: 100%;
    grid-row: 1;
    grid-column: 1;
    position: relative;
}

#image-home {
    border-radius: 25px;
    width: 100%;
    aspect-ratio: 5/1;
    object-fit: cover;
}

#catch-phrase {
    grid-row: 1;
    grid-column: 1;
    color: white;
    font-size: 3rem;
    z-index: 100;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px,1fr));
    gap: 2rem;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 50px;
}

@media screen and (max-width: 769px)
{
    .container {
        padding: 0 1rem;
    }

    main {
        background-color: white;
        border-radius: 10px;
        padding: 0;
        gap: 1rem;
    }

    #image-home {
        border-radius: 10px;
        height: 120px;
        object-fit: cover;
    }
    
    #catch-phrase {
        font-size: 1rem;
    }

    .element-filter::after {
        border-radius: 10px;
        bottom: 5px;
    }
}
