header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    margin: 2rem 0;
}

nav {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #FF6060;
}

a:hover {
    text-decoration: underline;
    color: #FF6060;
}

#logo::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to top, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
    opacity: .5;
}

@media screen and (max-width: 769px)
{
    header {
        padding: 0 1rem;
    }

    #logo {
        width: 145px;
    }
}
