.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    background-color: #FF6060;
    border-radius: 10px;
    color: white;
    padding: 3px 10px;
    text-align: center;
}

@media screen and (max-width: 375px)
{
    .tag {
        padding: 2px 10px;
        width: 84px;
        font-size: 10px;
    }
}
